- content_for :title, "Potential Hires"
.row
  .span12
    -if params[:search] == "purchased"
      %h1 Purchased Contacts
      .hero-unit.mini
        View employee contacts that you have purchased.
    - else
      %h1 Potential Hires
      .hero-unit.mini
        Find top rated employees that haven't applied for your listings.

    %p.categories
      = link_to "All", employers_potential_hires_path, class: "btn btn-info"
      = link_to "Purchased Contacts", "?search=purchased", class: "btn btn-primary"

    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Name
          %th Other info
          %th Score
          %th Contact
      %tbody
        - if @job_seekers.count > 0
          - @job_seekers.take(30).each do |seeker|
            %tr
              %td= link_to seeker.name, employee_path(seeker)
              %td= truncate seeker.resume.description, length: 50
              %td= seeker.score || "No Score"
              %td
                - if current_user.can_see_contact?(seeker)
                  Access available!
                - else
                  = render partial: 'layouts/charge_form', locals: { btn_class: 'btn btn-info', label: 'Contact!', seeker: seeker }

        - else
          %tr
            - if params[:search] == "purchased"
              %td You haven't purchased any contacts.
            - else
              %td There aren't any potential hires yet.
            %td
            %td
            %td
