- content_for :title, "Potential Hires"
.row
  .span12
    -if params[:search] == "purchased"
      %h1 Purchased Contacts
      .hero-unit.mini
        View employee contacts that you have purchased.
    - else
      %h1 Potential Hires
      .hero-unit.mini
        Find top rated employees that haven't applied for your listings.

    %p.categories
      = link_to "All", employers_potential_hires_path, class: "btn btn-info"
      = link_to "Purchased Contacts", "?search=purchased", class: "btn btn-primary"

    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Name
          %th Other info
          %th Score
          %th Contact
      %tbody
        - if @job_seekers.count > 0
          - @job_seekers.take(30).each do |seeker|
            %tr
              %td= link_to seeker.name, employee_path(seeker)
              %td= truncate seeker.resume.description, length: 50
              %td= seeker.score ? seeker.score : "No Score"
              %td
                - if current_user.can_see_contact?(seeker)
                  Access available!
                - else
                  = form_tag charges_path do
                    %input{type: :hidden, name: :employee_id, value: seeker.id}
                    = javascript_include_tag "https://checkout.stripe.com/v2/checkout.js",
                      :class => "stripe-button",
                      :"data-key" => "#{Rails.configuration.stripe[:publishable_key]}",
                      :"data-label" => "Contact!",
                      :"data-panel-label" => "Submit payment for",
                      :"data-name" => "Contact #{seeker.name}!",
                      :"data-description" => "Get a full refund if you don't hire him/her!* TODOMVP: WRITE TERMS AND CONDITIONS",
                      :"data-amount" => "5000"
        - else
          %tr
            - if params[:search] == "purchased"
              %td You haven't purchased any contacts.
            - else
              %td There aren't any potential hires yet.
            %td
            %td
            %td
