.row
  .span4
    %h1 Listings
    %p
      = @listings.count
      Listings Available
    %p
      Views:
      = link_to "Listings", params.merge(map: false), class: "disabled-link"
      |
      = link_to "Map", params.merge(map: true)
  .span8
    = form_tag listings_path, method: :get, class: "form-inline pull-right search-form" do
      = hidden_field_tag :map, params[:map] || false
      = text_field_tag :search, params[:search], class: "input-medium", placeholder: "Search Jobs"
      Within
      = select_tag :dist, options_for_select(distances, params[:dist]), class: "input-medium"
      Of
      = text_field_tag :zipcode, params[:zipcode], class: "input-mini", placeholder: "Zipcode"
      = submit_tag "Search", class: "btn btn-primary", name: nil

= will_paginate @listings, renderer: BootstrapPagination::Rails
%hr
- if @listings.empty?
  %p
    There aren't any jobs here.
- else
  - @listings.each do |listing|
    .row
      .span10
        %h4= link_to listing.title, listing_path(listing)
        .row-fluid
          .span4
            %p= listing.employer.company_name
          .span4
            %p
              Pay:
              = number_to_currency listing.pay
          .span4
            %p
              = "#{listing.city}, #{listing.state}"
              -#(hardcoded, not an attribute yet
        %p= truncate listing.description, length: 100
      .span2
        - if current_user.employee?
          - if current_user.applied_for? listing
            = link_to "Applied!", "#", class: "btn btn-success btn-apply pull-right", data: {job: listing.id}
          - else
            = link_to "Apply", "#", class: "btn btn-info btn-apply pull-right", data: {job: listing.id}
    %hr

= will_paginate @listings, renderer: BootstrapPagination::Rails