.row
  .span7
    %h1 Listings
    %p
      = @listings.count
      Listings Available
  .span5
    = pagination @listings, class: "pull-right"

- if @listings.empty?
  %p
    There aren't any jobs here.
- else
  - @listings.each_slice(2) do |slice|
    .row
      - slice.each do |listing|
        .span6
          %h4= link_to listing.title, listing_path(listing)
          %p.muted= listing.employer.company_name
          %p= truncate listing.description, length: 100
          .row
            .span2
              %p
                Pay: $
                = listing.pay
            .span3
              %p
                Location: North Pole
                -#(hardcoded, not an attribute yet
.row
  .span12
    = pagination @listings, class: "pull-right"