- content_for :title, "Job Seeker Sign Up"
- content_for :tos_label do
	%span.text-black= "Accept"
	= link_to "Terms Of Service", "/tos.html", target: "_blank"

%h2 New Job Seeker Sign Up
.row
	.span5
		= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {:class => 'form-vertical' }) do |f|
			= f.error_notification
			= display_base_errors resource
			= f.input :first_name, autofocus: true
			= f.input :last_name, required: true
			= f.input :email, required: true, input_html: {class: "input-xlarge"}
			= f.input :password, required: true, input_html: {class: "input-xlarge"}
			= f.input :accepted_tos, as: :boolean, inline_label: content_for(:tos_label), label: false
			%br
			= f.button :submit, 'Sign up', class: 'btn-primary'
		= render "devise/shared/links"
	.span7
		%h3 Your First Step To A New Job!
		%p
			Creating an account is simple! Just fill out the form provided and
			be on your way to getting hired.
		%br
		%h3 Complete Only One Resume!
		%p
			No one likes to fill out paperwork! An account lets you easily fill out a single resume and send it to many different employers effortlessly.
		%br
		%h3 Your Privacy Is Important!
		%p We understand you don't like spam.  Employers won't contact you unless you tell us they can or you apply for one of their listings.  We won't give your information to anyone without your permission.
