= simple_form_for(@job, url: employer_jobs_path) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description, input_html: { class: 'span6', rows: 10 }
    = f.input :pay, default: 7

  .form-actions
    = f.button :submit
