.row
	.span6
		%h2 Get Hired Now!
	.span4.offset1
		%h2 Sign up
		= simple_form_for(@employee, url: employee_registration_path, html: {class: 'form-vertical' }) do |f|
			.row
				.span2
					= f.input_field :first_name, autofocus: true, placeholder: "First", class: "input-block-level"
				.span2
					= f.input_field :last_name, required: true, placeholder: "Last", class: "input-block-level"
			= f.input_field :email, required: true, placeholder: "Email", class: "input-block-level"
			= f.input_field :password, required: true, placeholder: "Password", class: "input-block-level"
			= f.button :submit, 'Sign up', class: 'btn-primary btn-block btn-large'
		%p.text-center
			Or
			= link_to "Sign In", new_user_session_path
