- # Hack to get around routing issue:
- if render_type == :new
  - url = employers_jobs_path
  - method = "post"
- else #render_type == :edit
  - url = employers_job_path(@job)
  - method = "put"
= simple_form_for(@job, url: url, method: method.to_sym) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, input_html: { class: "span6" }
    = f.input_field :address, label: false, placeholder: "Address"
    = f.input_field :city, label: false, placeholder: "City"
    = f.input_field :state, label: false, as: :select, collection: us_states, selected: 0
    = f.input :description, input_html: { class: 'span9', rows: 10 }
    = f.input :pay, label: 'Pay per hour', wrapper: :prepend do
      %span.add-on $
      = f.input_field :pay

  .form-actions
    = f.button :submit, class: 'btn btn-success'

    - if @job.id
      = link_to 'Delete Listing',
        employers_job_path(@job),
        :method => :delete,
        :confirm => 'Are you sure you wish to delete this listing?',
        :class => 'btn btn-danger'
