.row
  .span4.offset4
    %h2 Sign in
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-vertical' }) do |f|
      = f.input :email, autofocus: true, input_html: {class: "input-xlarge"}
      = f.input :password, input_html: {class: "input-xlarge"}
      = f.input :remember_me, as: :boolean, inline_label: "Remember me", label: false if devise_mapping.rememberable?
      = f.button :submit, "Sign in", class: 'btn-primary'
    = render "devise/shared/links"