.nested-fields
	= f.input_field :name, label: false, placeholder: "Name"
	= f.input_field :relationship, label: false, placeholder: "Relationship"
	= f.input_field :length_known, label: false, placeholder: "Length Known", as: :select, collection: time_frames
	%br
	= f.input_field :phone_number, label: false, placeholder: "Phone Number"
	= f.input_field :email, label: false, placeholder: "Email Address"
	= link_to_remove_association "Remove", f