= simple_form_for(@resume, url: employee_resume_path, html: {method: :put}) do |f|
	= f.error_notification
	.form-inputs

		= f.input :address
		= f.input :city
		= f.input :state
		= f.input :zipcode
		= f.input :phone_number
		%p Job Experience
		= f.simple_fields_for :job_experiences do |builder|
			= render "job_experience_fields", f: builder
		.links
			= link_to_add_association '+ Add more job experience', f, :job_experiences

	.form-actions
		= f.button :submit, value: "Update Resume"
