= simple_form_for(@resume, url: employee_resume_path, html: {method: :put}) do |f|
	= f.error_notification
	.form-inputs

		= f.input :address
		= f.input :city
		= f.input :state
		= f.input :zipcode
		= f.input :phone_number
		%p Job Experience
		= f.simple_fields_for :job_experience do |builder|
			= builder.input_field :title, label: false, placeholder: "Title"
			= builder.input_field :company, label: false, placeholder: "Company"
			= builder.input_field :time, label: false, as: :select, collection: time_frames
		.links
			= link_to_add_association '+ Add more job experience', builder, :job_experience

	.form-actions
		= f.button :submit, value: "Update Resume"
