%h1 Site Statistics
%h2 User Stats
%p= "Number of Users: #{@user_count}"
%p= "Number of Employees: #{@employee_count}"
%p= "Number of Employers: #{@employer_count}"
%p= "Number of Admins: #{@admin_count}"
%h2 Job Stats
%p= "Number of Listings: #{@job_count}"
%p= "Number of Contact Purchases: #{@contact_purchase_count}"