= link_to "JobPond", root_path, id: "logo"
- if current_page? root_path
  %ul.nav.pull-right
    %li
      %p
        Employer?
        = link_to "Click here!", employers_path, class: "light"
- else
  %ul.nav.pull-right
    - if user_signed_in? && current_user.admin?
      = nav_link 'Employee Reviews', admin_reviews_path
      = nav_link 'User Feedback', admin_feedbacks_path

    - if user_signed_in?
      = nav_link "Job Listings", listings_path
      - if current_user.employer?
        = nav_link 'Dashboard', employers_dashboard_path
      - else
        = nav_link 'My Resume', edit_employees_resume_path

    - if user_signed_in?
      %li
        - if current_user.employer?
          = nav_link 'Edit Account', edit_employer_registration_path
        - elsif current_user.employee?
          = nav_link 'Edit Account', edit_employee_registration_path
    - else
      - if current_page?(employers_path)
        = nav_link 'Sign Up', new_employer_registration_path
      - else
        = nav_link 'Employer Sign Up', new_employer_registration_path
        = nav_link 'Job Seeker Sign Up', new_employee_registration_path

    - if user_signed_in?
      %li
        = nav_link 'Logout', destroy_user_session_path, :method=>'delete'
    - else
      %li
        = nav_link 'Login', new_user_session_path
