= link_to "Job App", root_path, :class => 'brand'
- if not user_signed_in?
  - if current_page?(employer_path)
    = link_to "For Job Seekers", root_path, class: 'btn btn-success'
  - else
    = link_to "For Employers", employer_path, class: 'btn btn-success'
%ul.nav.pull-right
  - if user_signed_in? and current_user.employer?
    = nav_link 'Dashboard', employer_dashboard_path
  %li
    = nav_link 'Employers', employer_path
  - if user_signed_in?
    %li
      = nav_link 'Logout', destroy_user_session_path, :method=>'delete'
  - else
    %li
      = nav_link 'Login', new_user_session_path

  - if user_signed_in?
    %li
      = nav_link 'Edit account', edit_user_registration_path
  - else
    - if current_page?(employer_path)
      = nav_link 'Sign up', new_user_registration_path #go to employer signup
    - else
      %li
        = nav_link 'Sign up', new_user_registration_path #go to employee signup
